@{
    ViewData["Title"] = "Consulta de ventas";
}


<div class="container my-4">
        <h2 class="text-center mb-4 text-dark">Consultar datos de ventas</h2>
 <!--formulario de consulta-->
   

    <form asp-action="ConsultarDatosVentas" method="post" class="bg-dark p-4 rounded shadow-lg">
            <div class="mb-3">
                <label for="datos" class="form-label text-light">Haz una pregunta acerca de los datos de venta (Ej: Cuàles fueron los productos mas vendidos de la semana?)</label>
               <input type="text" name="consulta" class="form-control" placeholder="Ingresa tu pregunta aqui" />
            </div>

            <button type="submit" class="btn btn-primary w-100" ><i class="bi bi-search"></i> Consultar
            </button>
        </form>
    <!--Resultado de OpenAI-->
    @if (Model != null) 
    {
        <div class="mt-4">
            <div class="card bg-dark text-light border-primary shadow-lg">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="card-header">
                    <h5 class="card-title"><i class="bi bi-chat-left-dots"></i> Respuesta de TecnofertaAI</h5>
                </div>
                <div class="card-body">
                     <pre class="text-wrap border p-3 rounded bg-secondary">@Html.Raw(Model)</pre>
                </div>
            </div>
         </div>
    }
</div>